<div id="carouselExampleControls" class="carousel slide pt-5" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active mx-auto">
  
  <img
  src="https://images.squarespace-cdn.com/content/v1/5dec4e80a8313b70e3b8c3c6/1588612636805-B5UUGZPVFAJDFVLIFK42/EAOT0859.jpg?format=1500w"
  class="d-block w-100" alt="...">
<div class="centered">Planting Beautiful Memories</div>
<button class="btn">Shop Now</button>



    </div>
    <div class="carousel-item">
      <img src="
      https://c4.wallpaperflare.com/wallpaper/943/35/600/background-roses-bouquet-pink-wallpaper-preview.jpg"
        class="d-block w-100" alt="...">
      <button class="btn">Shop Now</button>
      <div class="centered">Planting Beautiful Memories</div>

    </div>
    <div class="carousel-item">
      <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/plant-roses-garden-1649665760.jpg"
        class="d-block w-100" alt="...">
      <div class="centered">We Deliver Happiness</div>
      <button class="btn">Shop Now</button>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- about us 1-->
<section id="about" class="py-5">
  <div class="container">
    <div class="row gy-lg-5 align-items-center">
      <div class="col-lg-6 order-lg-1 text-center text-lg-start">

        <div class="title pt-3 pb-5">
          <h2 class="position-relative d-inline-block ms-4">Flowers For Wedding</h2>
        </div>
        <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, ipsam.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fuga blanditiis, modi
          exercitationem quae quam eveniet! Minus labore voluptatibus corporis.</p>
        <button class="AboutBtn">Shop Now</button>
      </div>
      <div class="col-lg-6 order-lg-0">
        <img src="https://cdn0.weddingwire.com/vendor/018400/3_2/960/jpeg/adobestock-98207637-1_51_1004810.jpeg" alt=""
          class="img-fluid">
      </div>
    </div>
  </div>
</section>
<!-- end of about us -->

<!-- about us 2-->
<section id="about" class="py-5">
  <div class="container">
    <div class="row gy-lg-5 align-items-center">
      <div class="col-lg-6  text-center text-lg-start">

        <div class="title pt-3 pb-5">
          <h2 class="position-relative d-inline-block ms-4">Flowers For Birthday</h2>
        </div>
        <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, ipsam.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fuga blanditiis, modi
          exercitationem quae quam eveniet! Minus labore voluptatibus corporis.</p>
        <button class="AboutBtn">Shop Now</button>
      </div>
      <div class="col-lg-6 ">
        <img
          src="https://media.istockphoto.com/photos/colorful-roses-background-picture-id168733348?k=20&m=168733348&s=612x612&w=0&h=Sg9gKFdRDH9Rj6fAFd3evDlV3DRhOzjzu1rAAnb_ENc="
          alt="" class="img-fluid">
      </div>


    </div>
  </div>
</section>
<!-- end of about us -->

<!-- 
Featured Products Start -->

<section id="collection" class="py-5 my-5">
  <div class="container">
    <div class="title text-center">
      <h2 class="position-relative d-inline-block">Featured Products</h2>
    </div>

    <div class="row g-0 ">

      <div class="collection-list mt-4 row gx-0 gy-3">
        <div class="collection-img1  col-md-6 col-lg-4 col-xl-3 p-2 best">
          <div class="collection-img position-relative">
            <img src="https://i.pinimg.com/originals/96/21/4a/96214a2b90304ba7a8e42baf5cff8c55.jpg" class="w-100">
            <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
          </div>
          <div class="text-center">
            <div class="rating mt-3">
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
            </div>
            <p class="text-capitalize my-1">Product Name</p>
            <span class="fw-bold">$45.50</span>
          </div>
        </div>

        <div class="collection-img1 col-md-6 col-lg-4 col-xl-3 p-2 feat">
          <div class="collection-img position-relative">
            <img
              src="https://cdn.shopify.com/s/files/1/0285/3663/5485/products/PeachFancyFlowerBouquet_FlowerFix_Subscription.9836_600x.jpg?v=1610587470"
              class="w-100">
            <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
          </div>
          <div class="text-center">
            <div class="rating mt-3">
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
            </div>
            <p class="text-capitalize my-1">Product Name</p>
            <span class="fw-bold">$45.50</span>
          </div>
        </div>

        <div class="collection-img1 col-md-6 col-lg-4 col-xl-3 p-2 new">
          <div class="collection-img position-relative">
            <img src="https://junandus.com.my/wp-content/uploads/2020/12/Carol-Flower-Bouquet-Fresh-Flower-1-Jan22.jpg"
              class="w-100">
            <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
          </div>
          <div class="text-center">
            <div class="rating mt-3">
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
            </div>
            <p class="text-capitalize my-1">Product Name</p>
            <span class="fw-bold">$45.50</span>
          </div>
        </div>

        <div class="collection-img1 col-md-6 col-lg-4 col-xl-3 p-2 best">
          <div class="collection-img position-relative">
            <img
              src="https://cdn.shopify.com/s/files/1/2116/9129/products/Untitleddesign_8_43522ff8-f6ba-4244-8355-d32c520c366a_1024x1024.png?v=1636447210"
              class="w-100">
            <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
          </div>
          <div class="text-center">
            <div class="rating mt-3">
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
            </div>
            <p class="text-capitalize my-1">Product Name</p>
            <span class="fw-bold">$45.50</span>
          </div>
        </div>

        <div class="collection-img1 col-md-6 col-lg-4 col-xl-3 p-2 feat">
          <div class="collection-img position-relative">
            <img src="https://sites.create-cdn.net/siteimages/27/0/8/270857/17/7/1/17715161/2000x2000.jpeg?1570125696"
              class="w-100">
            <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
          </div>
          <div class="text-center">
            <div class="rating mt-3">
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
            </div>
            <p class="text-capitalize my-1">Product Name</p>
            <span class="fw-bold">$45.50</span>
          </div>
        </div>

        <div class="collection-img1 col-md-6 col-lg-4 col-xl-3 p-2 new">
          <div class="collection-img position-relative">
            <img src="https://www.theflowerstandchelsea.com/wp-content/uploads/2016/01/mixed-orange-rose-bouquet.jpg"
              class="w-100">
            <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
          </div>
          <div class="text-center">
            <div class="rating mt-3">
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
            </div>
            <p class="text-capitalize my-1">Product Name</p>
            <span class="fw-bold">$45.50</span>

          </div>
        </div>

        <div class="collection-img1 col-md-6 col-lg-4 col-xl-3 p-2 best">
          <div class="collection-img position-relative">
            <img
              src="https://www.theflowerstandchelsea.com/wp-content/uploads/2016/01/mixed-Equadorian-lilac-rose-bouquet.jpg"
              class="w-100">
            <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
          </div>
          <div class="text-center">
            <div class="rating mt-3">
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
            </div>
            <p class="text-capitalize my-1">Product Name</p>
            <span class="fw-bold">$ 45.50</span>
          </div>
        </div>

        <div class="collection-img1 col-md-6 col-lg-4 col-xl-3 p-2 feat">
          <div class="collection-img position-relative">
            <img src="https://www.theflowerstandchelsea.com/wp-content/uploads/2019/01/IMG_8712.jpg" class="w-100">
            <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
          </div>
          <div class="text-center">
            <div class="rating mt-3">
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
            </div>
            <p class="text-capitalize my-1">Product Name</p>
            <span class="fw-bold">$ 45.50</span>
          </div>
        </div>

        <div class="collection-img1 col-md-6 col-lg-4 col-xl-3 p-2 feat">
          <div class="collection-img position-relative">
            <img src="https://www.theflowerstandchelsea.com/wp-content/uploads/2019/01/IMG_8712.jpg" class="w-100">
            <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
          </div>
          <div class="text-center">
            <div class="rating mt-3">
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
              <span class="text-danger"><i class="fas fa-star"></i></span>
            </div>
            <p class="text-capitalize my-1">Product Name</p>
            <span class="fw-bold">$ 45.50</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- featured Products End -->



<!-- discount cards start -->


<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-body1">
          <h3 class="text-center centered1 card-title">Big Red Rose</h3>
          <h1 class="text-center centered2">40% Off</h1>
          <a routerLink="/products" class="btn1 btn-primary">View Collection</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-body2">
          <h3 class="centered1 card-title">Tulip Flower</h3>
          <h1 class="centered2">30% Off</h1>
          <a routerLink="/products" class="btn1 btn-primary">View Collection</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- dicount cards end -->

<div class="container mt-5">
 <div class="testimonialHeading">
<h1 class="text-center">Client's Review</h1>
 </div>
</div>




<!-- Testimonial STarts -->
<div class="container py-5">
  
<section id="testimonial-slider" class="bg-danger py-5">
  <div class="container">
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="col-sm-8 mx-auto">
              <div class="carousel-inner2 text-center text-white py-5">
                  <div class="carousel-item2 active" data-bs-interval="10000">
                      <div class="user-photo shadow">
                          <img src="https://blog.hubspot.com/hubfs/Customer-testimonial-page.jpg" class="img-fluid" alt="testimonial slider">
                      </div>
                      <div class="slider-caption mt-3">
                          <p class="fs-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                          <figcaption class="blockquote-footer mt-3 text-white fs-5"><cite>Gurdeep Dahiya</cite></figcaption>
                      </div>
                  </div>
                  <div class="carousel-item2" data-bs-interval="10000">
                      <div class="user-photo shadow">
                          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzTSfV2ULp9x1nIywGW_sZ6siZHEjbTMulmeQzwfeJDICXFFgrkGOAEniL6SvTjt4_e38&usqp=CAU" class="img-fluid" alt="testimonial slider">
                      </div>
                      <div class="slider-caption mt-3">
                          <p class="fs-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                          <figcaption class="blockquote-footer mt-3 text-white fs-5"><cite>Rajnish Kumar</cite></figcaption>
                      </div>
                  </div>
                  <div class="carousel-item2" data-bs-interval="10000">
                      <div class="user-photo shadow">
                          <img src="https://images.unsplash.com/photo-1543984613-f55ca6a1ba35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YnV5ZXIlMjBwZXJzb25hfGVufDB8fDB8fA%3D%3D&w=1000&q=80" class="img-fluid" alt="testimonial slider">
                      </div>
                      <div class="slider-caption mt-3">
                          <p class="fs-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                          <figcaption class="blockquote-footer mt-3 text-white fs-5"><cite>Pardeep Dahiya</cite></figcaption>
                      </div>
                  </div>
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
          </button>
      </div>
  </div>
</section>
</div>
<!-- Testimonial ends -->


 <!-- News-letter Starts -->

<div class="container">
  <section class="NewsLetter bg-img text-center">
    <div class="container">
      <h2>
        <strong>Subscribe</strong>
      </h2>
      <h6 class="font-alt">Get weekly top new jobs delivered to your inbox</h6>
      <br><br>
      <form class="form-subscribe" action="#">
        <div class="input-group">
          <input type="text" class="form-control input-lg" placeholder="Your eamil address">
          <span class="input-group-btn">
            <button class="btnNews btn-success btn-lg" type="submit" >Subscribe</button>
          </span>
        </div>
      </form>
    </div>
  </section>
</div>

 <!-- News-letter Ends-->

