<nav class="navbar1 navbar navbar-expand-lg navbar-dark bg-dark px-0 py-3">
  <div class="container-xl">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <!-- <img src="https://images-platform.99static.com//WdKFT00i5gy0q67SJ2jtewrTDes=/355x0:1661x1306/fit-in/500x500/99designs-contests-attachments/125/125981/attachment_125981577" class="h-8" alt="..."> -->
      <h1>Florals</h1>
    </a>
    <!-- Navbar toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Nav -->
      <div class="navbar-nav mx-lg-auto">
        <a class="nav-item nav-link active" routerLink="/home" aria-current="page">Home</a>
        <a class="nav-item nav-link" routerLink="/products">Product</a>
        <a class="nav-item nav-link" routerLink="/about">About</a>
        <a class="nav-item nav-link" routerLink="/contact-us">Contact Us</a>
      </div>
      <!-- Right navigation -->
      <div class="navbar-nav ms-lg-4">
        <a class="nav-item nav-link" routerLink="/ManagementModule/admin-login">Sign in</a>
      </div>
      <!-- Action -->
      <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
        <a routerLink="/ManagementModule/user-register" class="btn btn-sm btn-primary w-full w-lg-auto">
          Register
        </a>
      </div>
    </div>
  </div>
</nav>





<!-- <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">Ecommerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About-Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact-us">Contact-Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ManagementModule/user-login"><i class="fas fa-user"></i> <button class="btn btn-outline-danger">Sign-In</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->